/** @format */
@import '../../../assets//styles/variable';

.balance {
	display: flex;
	align-items: center;
	gap: 10px;

	padding: 10px;
	background-color: var(--main-focus-color);

	width: 100%;
	max-height: 70px;
	height: 100%;

	border-radius: 10px;

	&__emblem {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;

		border-radius: 10px;
		background: var(--main-bg);

		color: rgb(36, 161, 224);
		font-size: 24px;
		font-weight: 900;
		line-height: 33px;
	}

	&__text {
		display: flex;
		flex-direction: column;

		font-size: 16px;
		font-weight: 400;
		line-height: 22px;

		span {
			font-size: 20px;
			font-weight: 700;
			line-height: 27px;
		}
	}
}
