/** @format */

.links__list {
	width: 100%;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-around;

	padding: 0 20px;
	margin-top: 50px;
}

.list__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
