/** @format */
@import '/src/assets/styles/variable';

.sidebar__wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	max-width: var(--sidebar-width);
	width: var(--sidebar-width);
	min-width: 150px;

	background-color: var(--sidebar-bg);
}
