/** @format */
:root {
	/* Some background colors of pages */
	--main-bg: #040404;
	--sidebar-bg: #0e0e0e;

	/* Some components widths */
	--sidebar-width: 319px;

	/* Text colors */
	--main-text-color: #fff;
	--black-text-color: #0e0e0e;
	--growth-text-color: #15c905;
	--decrease-text-color: #fb0808;

	/* Accent colors */
	--main-focus-color: #24a1e0;
}
